# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.vscode/
.vscode
todo

*.tex

tex_project/*
playground/*
.launch_jupyter.bat

neural_network/playground.ipynb
data/*
.idea/
figures/
hyperparam_optim/
model_memory/
saved_models/
